html,
body,
div,
form,
fieldset,
legend,
label {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  text-align: left;
  vertical-align: top;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
caption {
  font-weight: normal;
  margin: 0;
}
p {
  margin: 0;
}
img {
  border: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.span100,
.span25,
.span50,
.span75,
.span33,
.span66 {
  float: left;
  padding: 0;
  margin: 0;
}
.span100 {
  width: 100%;
}
.span25 {
  width: 100%;
}
.span50 {
  width: 100%;
}
.span75 {
  width: 100%;
}
.span33 {
  width: 100%;
}
.span66 {
  width: 100%;
}
/* SMALL  */
@media only screen and (min-width: 481px) {
  .span100 {
    width: 100%;
  }
  .span25 {
    width: 50%;
  }
  .span50 {
    width: 100%;
  }
  .span75 {
    width: 100%;
  }
  .span33 {
    width: 50%;
  }
  .span66 {
    width: 100%;
  }
}
/* MEDIUM  */
@media only screen and (min-width: 769px) {
  .span100 {
    width: 100%;
  }
  .span25 {
    width: 25%;
  }
  .span50 {
    width: 50%;
  }
  .span75 {
    width: 75%;
  }
  .span33 {
    width: 33.33%;
  }
  .span66 {
    width: 66.66%;
  }
}
/* LARGE  */
@media only screen and (min-width: 993px) {
  .span100 {
    width: 100%;
  }
  .span25 {
    width: 25%;
  }
  .span50 {
    width: 50%;
  }
  .span75 {
    width: 75%;
  }
  .span33 {
    width: 33.33%;
  }
  .span66 {
    width: 66.66%;
  }
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg') format('svg');
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.eot');
  src: url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf') format('truetype'), url('../fonts/OpenSans-Light.svg') format('svg');
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/OpenSans-Semibold.eot');
  src: url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.ttf') format('truetype'), url('../fonts/OpenSans-Semibold.svg') format('svg');
}
body {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  background: #005493;
  color: #ffffff;
}
.wrapper {
  position: relative;
  margin: 30px auto;
  width: 50%;
  min-width: 400px;
  max-width: 700px;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
}
.header {
  background: #005593;
  line-height: 3;
  *zoom: 1;
  position: relative;
}
.header:before,
.header:after {
  display: table;
  content: "";
  line-height: 0;
}
.header:after {
  clear: both;
}
.header .menu {
  width: 200px;
  float: left;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: #005593;
  display: block;
}
.header .menu .menu-trigger {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/ico-menu.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0 10px;
  padding-left: 60px;
  text-transform: uppercase;
  background-position: 20px 26px;
  line-height: 71px;
  height: 71px;
  cursor: pointer;
  font-weight: bold;
}
.header .menu .menu-trigger:hover {
  text-decoration: underline;
}
.header .menu ul {
  display: none;
}
.header .menu ul.opened {
  display: block;
}
.header .menu li {
  border-top: 1px solid #14679F;
}
.header .menu li span {
  padding: 10px;
  cursor: pointer;
}
.header .menu li:hover span {
  text-decoration: underline;
}
.header .title {
  border-left: 1px solid #14679F;
  margin-left: 201px;
  margin-right: 100px;
  padding-left: 20px;
  text-transform: uppercase;
  line-height: 71px;
  font-weight: bold;
}
.header .logo-holder {
  width: 159px;
  height: 71px;
  float: right;
}
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 78.2%;
  vertical-align: middle;
  overflow: hidden;
}
.svg-container .top-hint {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(16, 99, 158, 0.7);
  color: white;
  z-index: 3;
  padding: 2px 8px;
}
.svg-container .svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.state-pin {
  width: 30px;
  margin: 0 60px;
  position: absolute;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  cursor: pointer;
}
.state-pin .number {
  border-radius: 30px;
  background: #005593;
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}
.state-pin .detail {
  transition: opacity 0.5s ease;
  border-radius: 5px;
  background: #005593;
  display: none;
}
.state-pin .detail .title {
  border-bottom: 1px solid white;
  margin: 0 10px;
  text-transform: uppercase;
}
.state-pin .detail .content {
  *zoom: 1;
  line-height: 1.5;
  padding: 2px 0;
}
.state-pin .detail .content:before,
.state-pin .detail .content:after {
  display: table;
  content: "";
  line-height: 0;
}
.state-pin .detail .content:after {
  clear: both;
}
.state-pin .detail .content .left {
  float: left;
  width: 50%;
  padding-top: 35px;
  text-align: center;
}
.state-pin .detail .content .left .value {
  font-size: 28px;
}
.state-pin .detail .content .left .points {
  font-size: 14px;
}
.state-pin .detail .content .right {
  float: right;
  width: 50%;
  text-align: left;
}
.state-pin .detail .content .right .score {
  background: white;
  color: #005493;
  border-radius: 2px;
  padding: 1px 2px;
}
.state-pin .detail .btn {
  width: 90%;
  background: white;
  color: #005493;
  border-style: none;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 3px 0;
  margin: 7px 0;
  font-size: 12px;
  cursor: pointer;
}
.state-pin .detail .btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: white;
}
.state-pin:after {
  margin-left: 11px;
  margin-top: -1px;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid #005593;
}
.state-pin:hover,
.state-pin.open {
  z-index: 100;
  width: 150px;
  margin: 0 0;
}
.state-pin:hover:after,
.state-pin.open:after {
  margin-left: 71px;
}
.state-pin:hover .number,
.state-pin.open .number {
  display: none;
}
.state-pin:hover .detail,
.state-pin.open .detail {
  display: block;
}
.state {
  fill: #F2F2F2;
}
.popup-holder {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
}
.popup-holder .popup {
  position: absolute;
  top: 20%;
  width: 82%;
  margin-left: 9.5%;
  background: white;
}
.popup-holder .popup .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  background: #005493;
  text-align: center;
  display: block;
  text-indent: 3000px;
  line-height: 3000px;
  overflow: hidden;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/ico-close.png);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.popup-holder .popup .btn-close:hover {
  background-color: rgba(0, 84, 148, 0.8);
}
.popup-holder .popup .top-box {
  *zoom: 1;
  padding-top: 50px;
  padding-bottom: 50px;
}
.popup-holder .popup .top-box:before,
.popup-holder .popup .top-box:after {
  display: table;
  content: "";
  line-height: 0;
}
.popup-holder .popup .top-box:after {
  clear: both;
}
.popup-holder .popup .top-box .first,
.popup-holder .popup .top-box .second,
.popup-holder .popup .top-box .third {
  float: left;
  width: 33.33%;
}
.popup-holder .popup .top-box .first .inner,
.popup-holder .popup .top-box .second .inner,
.popup-holder .popup .top-box .third .inner {
  padding: 0 20px;
}
.popup-holder .popup .top-box .first .selector {
  width: 100%;
  margin-bottom: 10px;
  padding: 4px;
}
.popup-holder .popup .top-box .state {
  color: black;
}
.popup-holder .popup .top-box .state .flag {
  text-align: center;
}
.popup-holder .popup .top-box .state .points {
  margin: 10px 0;
  color: #005493;
}
.popup-holder .popup .top-box .state .points .value {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  line-height: 0.7;
}
.popup-holder .popup .top-box .state .points .label {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}
.popup-holder .popup .top-box .state .score,
.popup-holder .popup .top-box .state .detail {
  margin: 0 15px;
}
.popup-holder .popup .top-box .state .score {
  *zoom: 1;
  color: #005493;
  font-size: 14px;
  font-weight: bold;
}
.popup-holder .popup .top-box .state .score:before,
.popup-holder .popup .top-box .state .score:after {
  display: table;
  content: "";
  line-height: 0;
}
.popup-holder .popup .top-box .state .score:after {
  clear: both;
}
.popup-holder .popup .top-box .state .score .label,
.popup-holder .popup .top-box .state .score value {
  width: 50%;
  float: left;
}
.popup-holder .popup .top-box .state .score .label {
  text-transform: uppercase;
}
.popup-holder .popup .top-box .state .score .value {
  text-align: right;
}
.popup-holder .popup .top-box .state .detail {
  padding-top: 5px;
  color: #005493;
  font-size: 14px;
  min-height: 60px;
}
.popup-holder .popup .top-box .state .detail .number {
  display: inline;
  font-weight: bold;
}
.popup-holder .popup .top-box .state .detail .desc {
  display: inline;
}
.popup-holder .popup .bottom-table {
  padding: 15px;
}
.popup-holder .popup .bottom-table .row {
  cursor: pointer;
  padding: 10px 5px;
  color: #005493;
  *zoom: 1;
}
.popup-holder .popup .bottom-table .row:before,
.popup-holder .popup .bottom-table .row:after {
  display: table;
  content: "";
  line-height: 0;
}
.popup-holder .popup .bottom-table .row:after {
  clear: both;
}
.popup-holder .popup .bottom-table .row .title {
  width: 150px;
  float: left;
  line-height: 36px;
}
.popup-holder .popup .bottom-table .row .metrics {
  margin-left: 150px;
  *zoom: 1;
}
.popup-holder .popup .bottom-table .row .metrics:before,
.popup-holder .popup .bottom-table .row .metrics:after {
  display: table;
  content: "";
  line-height: 0;
}
.popup-holder .popup .bottom-table .row .metrics:after {
  clear: both;
}
.popup-holder .popup .bottom-table .row .metrics .subrow-1 .bar,
.popup-holder .popup .bottom-table .row .metrics .subrow-2 .bar {
  height: 18px;
  background: #9ad9e9;
  margin-right: 78px;
  min-width: 78px;
  *zoom: 1;
}
.popup-holder .popup .bottom-table .row .metrics .subrow-1 .bar:before,
.popup-holder .popup .bottom-table .row .metrics .subrow-2 .bar:before,
.popup-holder .popup .bottom-table .row .metrics .subrow-1 .bar:after,
.popup-holder .popup .bottom-table .row .metrics .subrow-2 .bar:after {
  display: table;
  content: "";
  line-height: 0;
}
.popup-holder .popup .bottom-table .row .metrics .subrow-1 .bar:after,
.popup-holder .popup .bottom-table .row .metrics .subrow-2 .bar:after {
  clear: both;
}
.popup-holder .popup .bottom-table .row .metrics .subrow-1 .bar .value,
.popup-holder .popup .bottom-table .row .metrics .subrow-2 .bar .value {
  font-size: 12px;
  line-height: 18px;
  padding: 0 4px;
  height: 18px;
  background: white;
  float: right;
  width: 70px;
}
.popup-holder .popup .bottom-table .row .metrics .subrow-2 .bar {
  background: #005493;
}
.popup-holder .popup .bottom-table .row:hover,
.popup-holder .popup .bottom-table .row.selected {
  background: #EDEDED;
}
.popup-holder .popup .bottom-table .row:hover .metrics .bar .value,
.popup-holder .popup .bottom-table .row.selected .metrics .bar .value {
  background: #EDEDED;
}
.bottom-bar {
  *zoom: 1;
}
.bottom-bar:before,
.bottom-bar:after {
  display: table;
  content: "";
  line-height: 0;
}
.bottom-bar:after {
  clear: both;
}
.bottom-bar .btn {
  width: 50px;
  height: 50px;
  float: left;
  text-align: center;
}
.bottom-bar .btn.btn-play,
.bottom-bar .btn.btn-stop,
.bottom-bar .btn.btn-download {
  display: block;
  text-indent: 3000px;
  line-height: 3000px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/ico-play.png);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.bottom-bar .btn.btn-play:hover,
.bottom-bar .btn.btn-stop:hover,
.bottom-bar .btn.btn-download:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.bottom-bar .btn.btn-play {
  border-right: 1px solid #9ad9e9;
}
.bottom-bar .btn.btn-stop {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/ico-stop.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.bottom-bar .btn.btn-download {
  float: right;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/ico-download.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.bottom-bar .years {
  background: white;
  margin-left: 101px;
  margin-right: 51px;
  *zoom: 1;
}
.bottom-bar .years:before,
.bottom-bar .years:after {
  display: table;
  content: "";
  line-height: 0;
}
.bottom-bar .years:after {
  clear: both;
}
.bottom-bar .years .year {
  color: black;
  float: left;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.bottom-bar .years .year .label {
  background: #005493;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.bottom-bar .years .year:hover .label,
.bottom-bar .years .year.selected .label {
  background-color: rgba(0, 84, 148, 0.6);
  color: white;
}
.bottom-bar .years.count3 .year {
  width: 33.33%;
}
.bottom-bar .years.count4 .year {
  width: 25%;
}
.bottom-bar .years.count5 .year {
  width: 20%;
}
.bottom-bar .years.count6 .year {
  width: 16.666666666666668%;
}
