@pageMargin: 15px;

body {
    .font-regular(@font-size);
    line-height: @line-height;
    background: @background;
    color: @color;
} 

.state {
    fill:#F2F2F2;    
    cursor: pointer;

    &:hover {
//       fill: gray;
       stroke: black;
    }

    &.selected {
//       fill: gray;
//       stroke: white;
    }
}

.